.header{

  &__container{
padding: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
  }
}

.logo{
  display: flex;
  align-items: flex-end;
  &__picture{

  }
  &__text{

    &__top{

    }
    &__bottom{
      font-family: $ff-main-bold;
      padding-bottom: 2px;

    }
    &__bottom:first-letter{
      color: $cb;
      font-size: 1.3rem;
    }
  }
}

.contacts{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  //align-content: flex-end;
  flex-wrap: wrap;
  //padding-top: 7px;

}
.contact{
  color: #000;
  text-decoration: none;
  padding-left: 20px;


  &:hover{
    color: lighten(#424242, 20%);
  }
  &:first-child{

  }
  &__icon{
    padding-right: 6px;
    color: $cb;
  }
  &__text-bold{
    font-family: $ff-main-bold;
    font-size: 1.3rem;
    color: $cb;
    padding-left: 3px;
  }
}
.fa-mobile{
  font-size: 1.5rem;
}

@media screen and (max-width: $mw) {
  .contacts{
    display: none;
  }
  .header__container{
    justify-content: center;
  }
}
