//menu
.menu{
  text-align: center;
  background: $cg;
  position: relative;
  text-transform: uppercase;
  max-width: 1024px;
  margin: 0 auto;
  &__toggle{
    display: none;
    cursor: pointer;
    padding: 5px;
  }
  &__list{
    display: flex;
    justify-content: space-around;
    padding: 0 0;
    margin: 0 auto;
    line-height: 1.3rem;
    text-align: center;
  }
  &__item {
    padding: 5px 15px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid $cg;
    @include trans-it();
    width: 100%;
    a {
    text-decoration: none;
    color: #000;
    font-family: $ff-main;
  }
    &:hover{
      border-top: 3px solid $cb;
      background: lighten($cb, 60%);
      a {
        color: lighten($cb, 5%)
      }
    }
  }
}
//small display

@media screen and (max-width: $mw) {
.menu {

  &__toggle {
    display: block;

  }
  &__list {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #fff;
    width: 100%;

  }
}
}
//shadow for sticky menu
nav{
  transition: box-shadow 400ms;
}
.sticky{
  position: fixed;
  top: 0; left: 0;
  z-index: 2;
  width: 100%;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
//vertical menu list
.menu__item{
  position: relative;
  display: block;

  }
.menu__item__list{
  display: none;
  position:absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  a {
    color: #000;
  }
  &__item{
    padding: 5px 0;
    text-align: center;
    border-top: 3px solid #fff;
    @include trans-it();

  }

}
.menu__item:hover  .menu__item__list{
    display: block;
 // flex-direction: column;
  a {
    color: #000;
  }
  padding: 5px 0 5px 0;
  &__item{
    background: $cg;
    @include trans-it();
    color: #000;
    //menyal na rovnuyu liniyu

  }
  &__item:hover {
    background: lighten($cg, 50%);


  }
}
@media (max-width: $mw) {
  .menu__item__list {
    top: 0;
    left: 0;
    &__item {
      //menyal na rovnuyu liniyu
      text-align: left;
      padding-left: 50px;
    }
  }
}
