body {

  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}
h1{
  font-weight: 800;
}

ul,
ol {
  list-style-type: none;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.asd{
  height: 3000px;
}