body{
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}


ul,
ol {
  list-style-type: none;
}

.container{
  max-width: 1024px;
  margin: auto;
}
.asd{
  height: 5000px;
  max-width: 1024px;
  margin: auto;
}