.form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $col-text-icons;
	padding: 15px;
	align-items: center;
	max-width: 280px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	&__text{
		color: $col-main;
		font-size: 1.5rem;
		max-width: 270px;
		text-align: center;
		font-weight: bold;
	}
	&__fields{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__conf{
		padding-top: 5px;
		font-size: .9rem;
	}

}
.mdl-textfield__input{
	font-size: 1.5rem;
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label{
	font-size: 1.5rem;
}
