$ff-main: 'firasans-regular';
$ff-main-bold: 'firasans-bold';
/*colors old
$col-main: #00aeef;
$col-text:  #757575;
$col-btn: #e81d62;
*/
$col-main: #2196f3;
$col-text:  #212121;
$col-btn: #FF9800;
$col-main-dark: #1976d2;
$col-main-light: #bbdefb;
$col-text-icons:  #FFFFFF;
$col-text-second:  #757575;
$col-divided: #BDBDBD;
$trans: 0.2s;