$ff-main: 'firasans-regular';
$ff-main-bold: 'firasans-bold';
/*colors old
$col-main: #00aeef;
$col-text:  #757575;
$col-btn: #e81d62;
*/
$col-main: #03A9F4;
$col-text:  #212121;
$col-btn: #FF4081;
$col-main-dark: #0288D1;
$col-main-light: #B3E5FC;
$col-text-icons:  #FFFFFF;
$col-text-second:  #757575;
$col-divided: #BDBDBD;
$mw: 700px;
$trans: 0.2s;