.icon__container
	.icon
		i.fa.fa-file-text-o
		.icon__text Заключаем договор
	.icon
		i.fa.fa-list-ol
		.icon__text Поэтапная оплата работ, по факту, без предоплат
	.icon
		i.fa.fa-calendar
		.icon__text Даем гарантии на качество и сроки
	.icon
		i.fa.fa-calculator
		.icon__text Бесплатный замер
