footer.mdl-mega-footer
	.mdl-mega-footer__middle-section
		.mdl-mega-footer__drop-down-section
			input.mdl-mega-footer__heading-checkbox(type="checkbox" checked)
			h4.mdl-mega-footer__heading Услуги
			ul.mdl-mega-footer__link-list
				li: a(href="#") Ремонт квартиры под ключ
				li: a(href="#") Ремонт ванной комнаты
				li: a(href="#") Ремонт комнат
				li: a(href="#") Ремонт офисов
				li: a(href="#") Ремонт полов
				li: a(href="#") Ремонт стен
				li: a(href="#") Ремонт потолков
				li: a(href="#") Демонтажные работы
				li: a(href="#") Малярные работы
				li: a(href="#") Электромонтажные работы
				li: a(href="#") Штукатурные работы
		.mdl-mega-footer__left-section
			a(href="https://vk.com/megapolisremont").button.mdl-mega-footer__social-btn: i.fa.fa-vk
		.mdl-mega-footer__right-section
			a(href="#") Политика конфиденциальности
			a(href="#") О нас
			a(href="#") Вакансии
			a(href="#") Фото
			a(href="#") Цены
			a(href="#") Отзывы
			a(href="#") Контакты

