form.form
    .form__text Оставьте заявку, и мы ответим на ваши вопросы
    .form__fields
        .group
            input(type="text" name="name" required)
            span.highlight
            span.bar
            label Ваше имя:
        .group
            input(type="tel" name="phone" required)
            span.highlight
            span.bar
            label Ваш телефон:
        button(type="submit").button Получить консультацию
