header.header
    .container.header__container
        a(href="#").logo
            .logo__picture
                img(src="images/logo.png" alt="logo")
            .logo__text
                .logo__text_top ремонт квартир
                .logo__text_bottom Мегаполис
        .contact
             a.contact__link(href="tel:+79293608630")
                 i.fa.fa-mobile.contact__icon(aria-hidden="true")
                 span.contact__text +7(929) 360 86 30
             a.contact__link(href="mailto:remont-kvartir-omsk@ya.ru")
                 i.fa.fa-envelope.contact__icon(aria-hidden="true")
                 span.contact__text remont-kvartir-omsk@ya.ru
