header.mdl-layout__header
    .mdl-layout__header-row
        .logo
            img(src="images/logo.png" alt="logo")
        .mdl-layout__title
            .mdl-layout__title-top Мегаполис
            .mdl-layout__title-bottom ремонт квартир
        .mdl-layout-spacer
        .mdl-navigation.mdl-layout--large-screen-only
            a(href="#").mdl-navigation__link о нас
            a(href="#").mdl-navigation__link услуги
            a(href="#").mdl-navigation__link фото
            a(href="#").mdl-navigation__link цены
            a(href="#").mdl-navigation__link отзывы
            a(href="#").mdl-navigation__link контакты

.mdl-layout__drawer
    span.mdl-layout__title Меню
    .mdl-navigation
        a(href="#").mdl-navigation__link о нас
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Вакансии
        a(href="#").mdl-navigation__link услуги
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Ремонт квартиры под ключ
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Ремонт ванной комнаты
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Ремонт комнат
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Ремонт офисов
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Ремонт полов
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Ремонт стен
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Ремонт потолков
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Демонтажные работы
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Малярные работы
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Электромонтажные работы
        a(href="#").mdl-navigation__link.mdl-navigation__link-2nd Штукатурные работы
        a(href="#").mdl-navigation__link фото
        a(href="#").mdl-navigation__link цены
        a(href="#").mdl-navigation__link отзывы
        a(href="#").mdl-navigation__link контакты
