section.hero
    .trans
        .container
            .hero__container
                .hero__titles
                    .hero__title: h1 Ремонт квартир в Омске
                    .hero__slogan Быстро и качественно произведем комплексый ремонт квартир, а также отдельные виды ремонта
                include form
.asd hfjjjfkf
    button.button test
