section.work
	.container
		h2.title Как мы работаем
		.line: img(src="images/icons/uline.png" alt="line")
		.mdl-grid
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--hide-tablet.mdl-cell--hide-phone.work__no-bg
				.work__img: img(src="images/smeta.jpg").mdl-shadow--2dp
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--8-col-tablet.mdl-shadow--2dp
				.work__top
					span.number 1
					span Консультация
				.work__bottom Оставляете заявку или звоните нам, и наш специалист проконсультирует вас по телефону и согласует удобное время для визита. На объекте будет выяснены все ваши пожелания и произведен обмер помещений.

		.mdl-grid
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--8-col-tablet.mdl-shadow--2dp
				.work__top
					span.number 2
					span Заключение договора
				.work__bottom Ознакомление с подробной сметой на работы и материалы. Смета является окончательной и не будет расти. Далее согласование графика работ и подписание договора.
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--hide-tablet.mdl-cell--hide-phone.work__no-bg
				.work__img: img(src="images/smeta.jpg").mdl-shadow--2dp
		.mdl-grid
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--hide-tablet.mdl-cell--hide-phone.work__no-bg
				.work__img: img(src="images/smeta.jpg").mdl-shadow--2dp
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--8-col-tablet.mdl-shadow--2dp
				.work__top
					span.number 3
					span Закупка материала
				.work__bottom Консультируем где и на чем можно сэкономить. Производим закупку и доставку материалов на объект, а так же их подъем. Тем самым экономим вам драгоценное время и деньги за счет оптового приобретения материала.
		.mdl-grid
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--8-col-tablet.mdl-shadow--2dp
				.work__top
					span.number 4
					span Ремонт объекта
				.work__bottom Оповещение соседей о произведение шумных работ. Выполнение всего комплекса строительных и ремонтных работ согласно графику с соблюдением всех технологий.
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--hide-tablet.mdl-cell--hide-phone.work__no-bg
				.work__img: img(src="images/smeta.jpg").mdl-shadow--2dp
		.mdl-grid
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--hide-tablet.mdl-cell--hide-phone.work__no-bg
				.work__img: img(src="images/smeta.jpg").mdl-shadow--2dp
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--8-col-tablet.mdl-shadow--2dp
				.work__top
					span.number 5
					span Технический надзор
				.work__bottom В течение всего ремонта прорабом, закрепленным за объектом, производится технический надзор над исполнением и соблюдением техлонологий строительных работ.
		.mdl-grid
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--8-col-tablet.mdl-shadow--2dp
				.work__top
					span.number 6
					span Сдача готового объекта
				.work__bottom Подписание акта-приемки о выполненных работах исполнителем перед заказчиком.
			.mdl-cell.mdl-cell--6-col.cell.mdl-cell--hide-tablet.mdl-cell--hide-phone.work__no-bg
				.work__img: img(src="images/smeta.jpg").mdl-shadow--2dp