nav.menu__container
    .menu
        ul.menu__list
            li.menu__item: a.menu__link(href="#") о нас
            li.menu__item: a.menu__link(href="#") фото
            li.menu__item.has-sub
                a.menu__link(href="#") услуги
                ul.menu__list-2nd
                    li.menu__item-2nd: a(href="#") Ремонт квартиры под ключ
                    li.menu__item-2nd: a(href="#") Ремонт ванной комнаты
                    li.menu__item-2nd: a(href="#") Ремонт комнат
                    li.menu__item-2nd: a(href="#") Ремонт офисов
                    li.menu__item-2nd: a(href="#") Ремонт полов
                    li.menu__item-2nd: a(href="#") Ремонт стен
                    li.menu__item-2nd: a(href="#") Ремонт потолков
                    li.menu__item-2nd: a(href="#") Демонтажные работы
                    li.menu__item-2nd: a(href="#") Малярные работы
                    li.menu__item-2nd: a(href="#") Электро монтажные работы
                    li.menu__item-2nd.last: a(href="#") Штукатурные работы
            li.menu__item.has-sub
                a.menu__link(href="#") цены
                ul.menu__list-2nd
                    li.menu__item-2nd: a(href="#") О нас
                    li.menu__item-2nd.last: a(href="#") Вакансии
            li.menu__item: a.menu__link(href="#") отзывы
            li.menu__item.last: a.menu__link(href="#") контакты
.asd Ремонт квартир необходим чуть ли не каждому жителю в Москве или области, поскольку состояние жилья во многом определяет и душевное состояние его владельцев. Хотите уютный дом, в котором радостно просыпаться, проводить время с родными и близкими, встречать гостей? Или желаете обновить интерьер офиса, но не решаетесь сделать его своими руками? Наша компания поможет преобразить окружающее пространство с учетом ваших представлений о гармоничной обстановке по приемлемым ценам. Точная стоимость подсчитывается после осмотра помещений. Видео и фотографии помогут определиться сотрудникам компании со сложностью работ не посещая объект.
