nav
    .menu
        .menu__toggle ☰ Меню
        ul.menu__list
            li.menu__item: a(href="#") услуги
            li.menu__item: a(href="#") фото
            li.menu__item: a(href="#") цены
            li.menu__item: a(href="#") о нас
            li.menu__item: a(href="#") отзывы
            li.menu__item: a(href="#") контакты
.asd Ремонт квартир необходим чуть ли не каждому жителю в Москве или области, поскольку состояние жилья во многом определяет и душевное состояние его владельцев. Хотите уютный дом, в котором радостно просыпаться, проводить время с родными и близкими, встречать гостей? Или желаете обновить интерьер офиса, но не решаетесь сделать его своими руками? Наша компания поможет преобразить окружающее пространство с учетом ваших представлений о гармоничной обстановке по приемлемым ценам. Точная стоимость подсчитывается после осмотра помещений. Видео и фотографии помогут определиться сотрудникам компании со сложностью работ не посещая объект.
