section.pricekv
	.container
		h2.title ЦЕНА ЗА КВАДРАТНЫЙ МЕТР
		.line: img(src="images/icons/uline.png" alt="line")
		.mdl-grid
			.mdl-cell.mdl-cell--4-col.mdl-cell--6-col-tablet.mdl-cell--1-offset-tablet
				.price-tb
					.price-tb__head Косметический
					.price-tb__price
						span от 1500
						i.fa.fa-rub
						span /м
							sup 2
					.price-tb__picture: img(src="images/kosmeticheskiy.jpg" alt="kosm")
					.price-tb__text
						.price-tb__text-row Снятие обоев, напольных покрытий, краски, шпаклевки, плитки

						.price-tb__text-row Шпаклевка, грунтовка, покраска стен и потолков
						.price-tb__text-row Монтаж натяжного потолка
						.price-tb__text-row Выравнивание углов примыкания стен
						.price-tb__text-row Частичная разводка электрики, установка электроточек
						.price-tb__text-row Поклейка обоев
						.price-tb__text-row Настил напольного покрытия: линолеум, ламинат
						.price-tb__text-row Монтаж межкомнатных дверей
						.price-tb__text-row Установка плинтусов, гардин, люстр
						.price-tb__text-row Вывоз мусора и уборка

					.price-tb__button
						button(type="button").show-dialog.show-modal.mdl-button.mdl-js-button.mdl-button--accent.mdl-js-ripple-effect Рассчитать стоимость
			.mdl-cell.mdl-cell--4-col.mdl-cell--6-col-tablet.mdl-cell--1-offset-tablet
				.price-tb
					.price-tb__head Капитальный
					.price-tb__price
						span от 2500
							i.fa.fa-rub
							span /м
								sup 2
					.price-tb__picture: img(src="images/kapitalniy.jpg" alt ="kap")
					.price-tb__text
						.price-tb__text-row Демонтаж старых отделочных материалов с поверхности полов, стен, потолков
						.price-tb__text-row Слом и возведение стен
						.price-tb__text-row Выравнивание стен и полов по маякам
						.price-tb__text-row Монтаж натяжного потолка
						.price-tb__text-row Монтаж новой электрики, установка автоматов
						.price-tb__text-row Замена канализации, труб и сантехники
						.price-tb__text-row Поклейка обоев, окрашивание стен, облицовка керамической плиткой
						.price-tb__text-row Настил напольного покрытия: линолеум, ламинат, плитка
						.price-tb__text-row Монтаж межкомнатных и входных дверей, окон
						.price-tb__text-row Установка плинтусов, порожков, гардин, люстр
						.price-tb__text-row Вывоз мусора и уборка
					.price-tb__button
						button.show-dialog.mdl-button.mdl-js-button.mdl-button--accent.mdl-js-ripple-effect Рассчитать стоимость
			.mdl-cell.mdl-cell--4-col.mdl-cell--6-col-tablet.mdl-cell--1-offset-tablet
				.price-tb
					.price-tb__head Комплексный
					.price-tb__price
						span от 4000
						i.fa.fa-rub
						span /м
							sup 2
					.price-tb__picture: img(src="images/komplexniy.jpg" alt="komp")
					.price-tb__text
						.price-tb__text-row Создание дизайн проекта помещения или реализация готового проекта
						.price-tb__text-row Полный комплекс демонтажных и подготовительных работ
						.price-tb__text-row Полный комплекс электромонтажных работ
						.price-tb__text-row Полный комплекс черновых и общестроительных работ
						.price-tb__text-row Полный комплекс чистовых и монтажных работ
						.price-tb__text-row Вывоз мусора и уборка
					.price-tb__button
						button.show-dialog.mdl-button.mdl-js-button.mdl-button--accent.mdl-js-ripple-effect Рассчитать стоимость