section.questions
	.container
		h2.title Часто задаваемые вопросы
			.line: img(src="images/icons/uline.png" alt="line")
		.questions__content.mdl-grid
			.questions__block.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone
				.questions__title Сколько стоит ремонт?
				.questions__text Примерная стоимость за кв. метр указана на сайте. Более точную стоимость можно узнать только после вызова специалиста на объект, где будут учтены объем работ, состояние помещения и ваши пожелания
			.questions__block.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone
				.questions__title Сколько длится ремонт?
				.questions__text Все зависит от степени сложности ремонта, площади ремонтируемого помещения. Объект площадью 30 - 50 кв. м. с ремонтом под ключ выполняется за 1,5 - 3 месяца
			.questions__block.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone
				.questions__title Кто закупает материал?
				.questions__text Наша компания закупает черновые материалы, но по желанию заказчик занимается этим сам. Все отделочные материалы закупает заказчик. Мы помогаем только в расчете количества материалов
			.questions__block.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone
				.questions__title Берете ли предоплату?
				.questions__text Оплата в нашей компании происходит поэтапно. Предоплата берется только на метериалы, закупаемые компанией