.container
	h2.title Виды ремонта
		.line: img(src="images/icons/uline.png" alt="line")
	.mdl-grid
		.vidy.mdl-cell.mdl-cell--4-col
			.vidy__icon
				img(src="images/icons/wallpaper.png" alt="kosm")
			.vidy__title Косметический ремонт
			.vidy__price
				span от 1500 руб/м
				span
					sup 2
		.vidy.mdl-cell.mdl-cell--4-col
			.vidy__icon
				img(src="images/icons/brick-wall.png" alt="kosm")
			.vidy__title Капитальный ремонт
			.vidy__price
				span от 2500 руб/м
				span
					sup 2
		.vidy.mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet
			.vidy__icon
				img(src="images/icons/paint-roller.png" alt="kosm")
			.vidy__title Комплексный ремонт
			.vidy__price
				span от 4000 руб/м
				span
					sup 2